# Vscode
.vscode/

# Node
node_modules/
dist/
.cache/
results/
.env
db/

# Netlify
.netlify

# macOS
.DS_Store

# AI tools
.cursor/
.claude/
.opencode/

CLAUDE.md
AGENTS.md

# debug scripts
scripts/runners/*.json
scripts/skill-lists/*.json
