.skill-white {
  background:
    linear-gradient(90deg, rgb(255, 243, 247), rgb(181, 178, 198)) padding-box,
    linear-gradient(90deg, rgb(214, 207, 231), rgb(148, 150, 189)) border-box;
}

.skill-gold {
  background:
    linear-gradient(90deg, rgb(255, 255, 239), rgb(255, 190, 40)) padding-box,
    linear-gradient(90deg, rgb(255, 223, 115), rgb(255, 166, 16)) border-box;
}

.skill-pink {
  background:
    linear-gradient(90deg, rgb(255, 238, 239), rgb(255, 155, 211)) padding-box,
    linear-gradient(90deg, rgb(255, 142, 198), rgb(255, 89, 173)) border-box;
}

.skill-unique {
  background:
    linear-gradient(
        90deg,
        rgb(239, 255, 214),
        rgb(161, 201, 248),
        rgb(170, 170, 255),
        rgb(255, 186, 231)
      )
      padding-box,
    linear-gradient(
        90deg,
        rgb(197, 255, 190),
        rgb(189, 235, 255),
        rgb(195, 208, 255),
        rgb(255, 138, 222)
      )
      border-box;
}

.skillDetailsSection {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.skillDetailsSection:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.skillDetailsSection:first-child {
  border-width: 0;
  margin: 0;
  padding: 0;
}

.skill-white .skillDetails,
.skill-white .skillDetailsSection {
  border-image: linear-gradient(rgb(172, 172, 182), rgb(169, 169, 181)) 90;
}

.skill-gold .skillDetails,
.skill-gold .skillDetailsSection {
  border-image: linear-gradient(rgb(203, 172, 89), rgb(230, 161, 58)) 90;
}

.skill-pink .skillDetails,
.skill-pink .skillDetailsSection {
  border-image: linear-gradient(rgb(230, 173, 202), rgb(228, 43, 161)) 90;
}

.skill-unique .skillDetails,
.skill-unique .skillDetailsSection {
  border-image: linear-gradient(rgb(121, 64, 22), rgb(121, 64, 22)) 90;
}
